@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;1,200&display=swap');
@import "tailwindcss";

:root {
	--color-accent: #2f3e36;
	--color-font: #a68552;
	--color-back: #D9D9D9;
	--color-alt: #b2b8af;
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;

	color: var(--color-accent);
	background-color: var(--color-back);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
